body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 2;
  position: relative;
}

h1{
  color: grey;
}

.indent {
  margin-left: 70px;
}

#r1, #r2, #r3, #r4 {
  background-color: yellow;
}

#result {
  display: none;
  margin-top: 10px;
  line-height: 1;
}